* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #060e1e;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

/* nav section  */
header nav {
  max-width: 1140px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  color: white;
}

nav button {
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
}

/* banner section */
.banner-section {
  max-width: 1140px;
  margin: 0 auto;
  color: white;
  display: flex;
  gap: 10px;
}

.banner-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.banner-content h1 {
  font-size: 40px;
  color: #085b94;
}

.banner-content p {
  font-size: 20px;
}

.banner-content button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(5, 199, 253, 1) 35%,
    rgba(2, 96, 196, 1) 100%
  );
}

.banner-content button a {
    text-decoration: none;
    color: white;
}

.banner-image {
  width: 500px;
  border: 1px solid white;
  border-radius: 50%;
}

.banner-image img {
  width: 100%;
  border-radius: 50%;
}

/* about me section  */
.about-me-section {
  max-width: 1140px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.about-me-section-heading {
  color: white;
  width: 1000px;
}

.about-me-section-heading h1 {
  font-size: 40px;
  text-align: center;
}

.about-me-section-content {
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
}

.about-me-section-content p {
  color: white;
  font-size: 20px;
  text-align: justify;
}

/* education section */
.education-section {
  max-width: 1140px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-section-heading h1 {
  font-size: 40px;
  text-align: center;
}

.education-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.education {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.education h2 {
  font-size: 25px;
}

.education h3 {
  font-size: 20px;
  font-weight: 400;
}

.education h4 {
  font-weight: 400px;
}

.education p {
  font-size: 18px;
  font-weight: 400;
}

/* skill section  */
.skill-section {
  color: white;
  max-width: 1140px;
  margin: 100px auto;
}

.skill-section-heading h1 {
  font-size: 40px;
  text-align: center;
}

.skill-section-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skill {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
}

.skill p {
  margin-top: 10px;
  text-align: justify;
}

/* projects section */
.project-section {
  max-width: 1140px;
  margin: 0 auto;
  color: white;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-section-heading h1 {
  font-size: 40px;
  text-align: center;
}

.project-section-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.project {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
}

.project-role {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer section */
footer {
    max-width: 1140px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

footer h1 {
    font-size: 25px;
}

footer img {
    margin-top: 10px;
    width: 60px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .banner-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  /* about me section  */
  .about-me-section {
    flex-direction: column;
  }

  .about-me-section-content {
    width: 300px;
  }

  .banner-image,
  .banner-content,
  .about-me-section-heading {
    width: 300px;
  }

  /* education section */
  .education-section-content,
  .skill-section-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
